<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='https://overpasstest-30e2.kxcdn.com/fonts.css'>
  <link rel="stylesheet" type="text/css" href="css/testStyle.css">
  <link rel="stylesheet" type="text/css" href="css/listStyle.css">
  <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/js/list.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@0.20.6/dist/web3.min.js"></script>

</head>
<body>
<button onclick="clickBackBtn(id)" style="background: #191828; float: left; border: none;"><img src="/img/back.PNG"></button>
<h1>경매 결과가 궁금하시죠?</h1>
<h1>이제 공개됩니다.</h1>

<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">현재 결과<button id="nowBtnReload" onclick="clickBackBtn(id)"><img src="/img/reload.PNG"></button></label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
     <ul class="rolldown-list" id="myList1">
          <!-- <li style="color: #fd264f;">1. 정은솔<button onclick="clickCheckBtn(id)" style="background: #333; float: right; border: none;"><img src="/img/check.PNG"></button></li> -->
        </ul> 
    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">최종 결과<button id="resultBtnReload" onclick="clickListBtn(id)"><img src="/img/reload.PNG"></button></label>
    <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <ul class="rolldown-list" id="myList2">
       <!-- <li>1. 박장식</li>
        <li>2. 강민수</li>
        <li>3. 신동헌</li>
        <li>4. 박장식</li>
        <li>5. 김지원</li>
        <li>6. 박진수</li>
        <li>7. 윤태한</li>
	<li>8. 류성호 </li> -->
      </ul> 
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
  //var web3 = new Web3();
  //var provider = new web3.providers.HttpProvider("http://52.231.66.82:8545");
  var web3 = new Web3(new Web3.providers.HttpProvider("http://52.231.66.82:8545"));
  //web3.setProvider(provider);
  console.log("accounts: ", web3.eth.accounts);
  console.log('version: ', web3.version.api);   
  web3.eth.defaultAccount = web3.eth.accounts[4];
  console.log('coinbase: ', web3.eth.defaultAccount);

  var vc = web3.eth.contract(
  [
    {
      "constant": false,
      "inputs": [],
      "name": "getAllWinner",
      "outputs": [
        {
          "name": "ele",
          "type": "bytes[]"
        },
        {
          "name": "",
          "type": "bytes[]"
        },
        {
          "name": "",
          "type": "bytes[]"
        }
      ],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "qnum",
          "type": "string"
        }
      ],
      "name": "getWinner",
      "outputs": [
        {
          "name": "pname",
          "type": "string"
        },
        {
          "name": "id",
          "type": "string"
        },
        {
          "name": "money",
          "type": "string"
        }
      ],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "productName",
          "type": "string"
        },
        {
          "name": "winnerId",
          "type": "string"
        },
        {
          "name": "winnerMoney",
          "type": "string"
        }
      ],
      "name": "setWinner",
      "outputs": [
        {
          "name": "winnerLength",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "s",
          "type": "string"
        }
      ],
      "name": "string_tobytes",
      "outputs": [
        {
          "name": "",
          "type": "bytes"
        }
      ],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "owner",
          "type": "address"
        }
      ],
      "name": "getWinnerLength",
      "outputs": [
        {
          "name": "winnerLength",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "pure",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "winner",
      "outputs": [
        {
          "name": "productName",
          "type": "bytes"
        },
        {
          "name": "winnerId",
          "type": "bytes"
        },
        {
          "name": "winnerMoney",
          "type": "bytes"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "winnerLength",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    }
  ]).at('0x63115bd04aa042354ffc2c4a23b72b6798b161b4');

  console.log('contract:' + vc);
</script> -->


<script type="text/javascript">
  var nowList = [];
  document.addEventListener('DOMContentLoaded', function() {
      sendAjax('http://52.231.66.82:3000/nowList', 'q1');
    }, false);

  function listAni () {
    for (const li of document.querySelectorAll('.rolldown-list li')) {
      var delay = ($(li).index() / 4) + 's';
      $(li).css({
        webkitAnimationDelay: delay,
        mozAnimationDelay: delay,
        animationDelay: delay
      });
    }
  }

  function clickListBtn(id) {
    let tabId = '';
    id == "nowBtnReload"? tabId = '#myList1' : tabId = '#myList2'
    $(tabId).removeClass('rolldown-list');
    setTimeout(function () {
      $(tabId).addClass('rolldown-list');
      listAni ()
    }, 1);
  }

  function clickCheckBtn(id) {
    // console.log(id);
    // vc.setWinner('a','b','100');
    // console.log('a');
    // 서버로 전송.
    swal("1등", "오~~1등 축하드립니다.","success")
	let value = document.getElementById(id).textContent;
    console.log('id : ', value);
    // 서버로 전송.

    let data = {'id' : value.split('.')[1].split('(')[0].replace(/ /gi,""), 'money': value.split('(')[1].replace(")", "")};
    data = JSON.stringify(data);

    var xmlHttpRequest = new XMLHttpRequest();
    xmlHttpRequest.open('POST', 'http://52.231.66.82:3000/set_userMoneyAfterCheck');
    xmlHttpRequest.setRequestHeader('Content-Type', "application/json");
    xmlHttpRequest.send(data);

    xmlHttpRequest.addEventListener('load', function() {
      // let jsonResult = JSON.parse(xmlHttpRequest.response);
      console.log('client')
     console.dir(xmlHttpRequest)
   });
  }

  function clickBackBtn () {
    history.go(-1);
  }

  function sendAjax(url, key) {
    let data = {'key' : key};
    data = JSON.stringify(data);

    var xmlHttpRequest = new XMLHttpRequest();
    xmlHttpRequest.open('POST', url);
    xmlHttpRequest.setRequestHeader('Content-Type', "application/json");
    xmlHttpRequest.send(data);

    xmlHttpRequest.addEventListener('load', function() {
      // let jsonResult = JSON.parse(xmlHttpRequest.response);
      console.log('client')
      console.dir(JSON.parse(xmlHttpRequest.response));
      nowList = (JSON.parse(xmlHttpRequest.response));
      var listCnt = document.getElementsByTagName( 'ul' )[0].childElementCount;
      for (let i = 0;i<listCnt ; i++) {
        delList(num + 1)
      }
      for (let i =0; i < nowList.length/2 ; i++) {
        makeList(i + 1, nowList[2*i], nowList[2*i + 1]) 
      }
      
    });
    function makeList(num, name, money) {
      if (money == '0') return;
      var ul = document.getElementById("myList1");
      var li = document.createElement("li");
      var btn = '';
      let img = '';
      li.appendChild(document.createTextNode(num+'. ' + name + ' (' +money + ')'));
      if (num == 1) {
        li.setAttribute("style", "color: #fd264f;");
        btn = document.createElement("button");
        // onclick="clickCheckBtn(id)" style="background: #333; float: right; border: none;
        btn.setAttribute("onclick", "clickCheckBtn(id)");
        btn.setAttribute("style", "background: #333; float: right; border: none;");
        // <img src="/img/check.PNG">
        img = document.createElement("img");
        img.setAttribute("src", "/img/check.PNG");
        btn.appendChild(img);
        li.appendChild(btn);
      }
      li.setAttribute("onclick", "clickCheckBtn(id)");
      li.setAttribute("id", "li"+num); // added line
      ul.appendChild(li);
      // alert(li.id);
      
    }
    function delList(num) {
      document.getElementById('li' + num).remove()
    }
  }

</script>
</body>
</html>

