<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='https://overpasstest-30e2.kxcdn.com/fonts.css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.lettering-0.6.1.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<div>
		<p style="
		    color: white;
		    font-size: 30px;
		    font-weight: bold;">LOTTE BLOCKCHAIN  <font size="50px">Q1.</font></p>
		<h1 class="letter">5529800₩</h1>
	</div>
	<div class="Wrapper">
	  <div class="Button Button--start">
	    <button style="margin-top: 20px;"><span>Start</span></button>
	   </div>
	   <div class="Button Button--start">
	    <button style="margin-top: 8px !important; margin-bottom: 0px !important;"><span>Stop</span></button>
	   </div>
	   <div class="Button Button--start">
	    <button style="margin-top: 8px !important; margin-bottom: 0px !important;"><span>List</span></button>
	   </div>
	   <!--
	  <div class="Button Button--select">
	    <button><span>A</span></button>
	   </div> -->
	</div>
</body>
</html>

