<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/listStyle.css">
	
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/list.js"></script>
</head>
<body>
    <div>
        <ul class="rolldown-list" id="myList">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
          <li>Five</li>
          <li>Six</li>
          <li>Seven</li>
          <li>Eight</li>
        </ul> 

        <button id="btnReload" onclick="clickBtn()">Reload</button>
    </div>
</body>
</html>