<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/loginStyle.css">
	
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div class="form" id="form">
    <div class="field email">
        <div class="icon"></div><input class="input" id="id" type="id" placeholder="Id" autocomplete="off" /></div>
    <div class="field password">
        <div class="icon"></div>
        <input class="input" id="password" type="password" placeholder="Password" />
    </div>
    <button class="button" id="loginBtn" onclick="clickBtn()">LOGIN<div class="side-top-bottom"></div><div class="side-left-right"></div></button><small id="smallTxt">Fill in the form</small></div>
</body>
</html>