<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/loginStyle.css">
	
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div class="form" id="form">
    <div class="field email">
        <div class="icon"></div><input class="input" id="id" type="id" placeholder="Id" autocomplete="off" /></div>
    <div class="field password">
        <div class="icon"></div>
        <input class="input" id="password" type="password" placeholder="Password" />
    </div>
    <button class="button" id="loginBtn" onclick="clickBtn()">LOGIN<div class="side-top-bottom"></div><div class="side-left-right"></div></button><small id="smallTxt"><%= user.id %></small></div>
    <script type="text/javascript">

    function clickBtn () {
        if (document.getElementById("id").value != '' || document.getElementById("password").value != '') {
            sendAjax('http://localhost:3000/login_confirm_all', document.getElementById("id").value, document.getElementById("password").value);
        }
    }

    function sendAjax(url, id, password) {
      let data = {'id' : id, 'password': password};
      data = JSON.stringify(data);

      var xmlHttpRequest = new XMLHttpRequest();
      xmlHttpRequest.open('POST', url);
      xmlHttpRequest.setRequestHeader('Content-Type', "application/json");
      xmlHttpRequest.send(data);

      xmlHttpRequest.addEventListener('load', function() {
        let jsonResult = JSON.parse(xmlHttpRequest.response);
        if (xmlHttpRequest.statusText != 'OK')  return;
        if (jsonResult.password.replace(/"/g, '') != password) alert('비번 다름');
        else  { // 비번이 같을 경우
            if (jsonResult.grade == 'maker') location.href = "/";
            else if (jsonResult.grade == 'user') location.href = "/user";
        }
      });
    }

    </script>
</body>
</html>