<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/userStyle.css">
	
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div class="collectionMoney" style="margin: 0 auto;">
    <div class="textAni">
      Last Dev-day of 2018
      <span>
        500000
      </span>
      <span>
        100
      </span>
      &mdash; Enjoy the Auction &mdash;
    </div>
</div>

<div class="button-collection">
    <div class="Button Button--start">
        <button><span style="font-size: 60px;">+</span></button>
    </div>
    <div style="width: 720px; margin: 0 auto;">
        <div class="Button Button--start" style="float: left; margin-left: 10px; margin-right: 10px;">
            <button><span>X2</span></button>
        </div>
        <div class="Button Button--start" style="float: left; margin-left: 10px; margin-right: 10px;">
            <button><span>100</span></button>
        </div>
        <div class="Button Button--start" style="float: left; margin-left: 10px; margin-right: 10px;">
            <button><span>AllIn</span></button>
        </div>
    </div>
    <div style="width: 720px; margin: 0 auto;">
        <div class="Button Button--start" style="float: left; margin-left: 250px; margin-right: 10px;">
            <button><span style="font-size: 60px;">-</span></button>
        </div>
        <div class="Button Button--start" style="float: left; margin-left: 10px; margin-right: 10px;">
            <button><span>Send</span></button>
        </div>
    </div>
</div>

</body>
</html>